@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.title {
		@apply text-4xl font-bold cursor-default text-black dark:text-white mint:text-3xl;
	}

	.subtitle {
		@apply text-lg font-normal cursor-default text-black dark:text-white;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}
}

* {
	font-family: 'SF Pro Text';
}

body {
	overflow: hidden;
}

.scroll {
	overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
	width: 6px;
}

.scroll::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
	/* цвет зоны отслеживания */
}

.scroll::-webkit-scrollbar-thumb {
	background-color: #27ae5f00;
	/* цвет бегунка */
	border-radius: 9999px;
	/* округлось бегунка */
	border: 3px solid rgba(0, 0, 0, 0);
	/* отступ вокруг бегунка */
}

.scroll:hover::-webkit-scrollbar-thumb {
	background-color: #27ae60;
	border-radius: 9999px;
	border: 3px solid rgba(0, 0, 0, 0);
}

#btn-nav:hover .navbar-path {
	fill: white;
}

.cameraChat:hover .cameraSvgChat {
	fill: #27ae60;
}

.infoChat:hover .infoSvgChat {
	fill: #27ae60;
}

.checkbox {
	transition: all 300ms;
}

.checkbox:checked {
	transition: all 300ms;
	margin-left: auto;
}

/* NavBar mobile*/
@media (max-width: 768px) {
	.slide-right {
		animation: slide-right 200ms normal linear;
	}

	@keyframes slide-right {
		from {
			margin-left: -80px;
			opacity: 0;
		}
		to {
			margin-left: 0;
			opacity: 1;
		}
	}

	.slide-left {
		animation: slide-left 200ms normal linear forwards;
	}

	@keyframes slide-left {
		from {
			margin-left: 0;
			opacity: 1;
		}
		to {
			margin-left: -80px;
			opacity: 0;
		}
	}
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./assets/Fonts/SF-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./assets/Fonts/SF-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./assets/Fonts/SF-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('./assets/Fonts/SF-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
